
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../stylesheets/index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Rubik:wght@700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">

    <title>Rise and Blog</title>
</head>
<body>
    <header>
      <nav class="navbar">
        <div class="logo"><a href="#">  <i class="fas fa-blog"></i><span id = "logo"> Rise'N'Blog </span></a></div>
        <ul class="menu">
          <li><a href="#">Home</a></li>
          <li><a id = "bloglink" href="/blogs">Blogs</a></li>
          <li><a href="/blogs/new">Create a Blog</a></li>
          <li><a href="/profiles">Contributors</a></li>
          <li><a href="#"></a></li>
        </ul>
        <div class="buttons"> 
          <% if (user) { %>
            <a href="/auth/logout" id = "logout">LOGOUT <i class="fas fa-sign-out-alt"></i></a>
          <% } else { %>
            <a href="/auth/google" class="siwg-link">
              <button type="submit" class="siwg">
                <img id="siwg-image" alt="Sign in with Google" />
              </button>
            </a>
          <% } %>
         </div>
      </nav>
        <div class="text-content">
          <h2 id = "name">Welcome,<br><%= user ? user.profile.name : "engineer" %></h2> <br>
          <p>Here is your daily quote for today: </p>
          <p>“Blogging is a great way to show your talents and interests to prospective employers, while adding an edge to your resume. If you blog consistently it shows your dedication, passions and creativity – all of which are key attributes employers look for in job candidates. ” <br>
            —Lauren Conrad.</p>
        </div>
      </header>
</body>
</html> 
