:root {
 
  --white: #fff;
  --blue: #0a6bd9;
  --blueDark: #0c5fc1;
  --dark: #455a64;
  --dark2: #263338;


}

*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
body{
  font-family: montserrat;
}

button a{
  text-decoration: none;
  color: var(--white)
}
nav{
  background: var(--blue);
  height: 80px;
  width: 100%;
}
label.logo{
  color: white;
  font-size: 35px;
  line-height: 80px;
  padding: 0 100px;
  font-weight: bold;
}
nav ul{
  float: right;
  margin-right: 20px;
}
nav ul li{
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}
nav ul li a{
  color: white;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}
a.active,a:hover{
 color: var(--dark2);
  transition: .5s;
}
.checkbtn{
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check{
  display: none;
}


@media (max-width: 952px){
  label.logo{
    font-size: 30px;
    padding-left: 50px;
  }
  nav ul li a{
    font-size: 16px;
  }
}
@media (max-width: 858px){
  .checkbtn{
    display: block;
  }
  ul{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #2c3e50;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s;
  }
  nav ul li{
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav ul li a{
    font-size: 20px;
  }
  a:hover,a.active{
    background: none;
    color: #0082e6;
  }
  #check:checked ~ ul{
    left: 0;
  }
  .content{
      display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 80vh;
  }
}


section{

  height: calc(100vh - 80px);
   background: url("../images/waves.svg") no-repeat center center fixed;
   -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
 
  
}
section .content{
  margin-top: 1rem;


}
section .content h2{
  font-size: 3em;
  color:var(--dark2)
}
section .content p{
  font-size: 1.2em;
  color: var(--dark2);
  line-height: 1.9rem;
}

.content button{
     display: inline-block;
    border: 2px solid var(--dark2);
    background-color: var(--dark2);
    color: var(--white);
    padding: 15px 35px;
    font-size: 15px;
    outline: 0;
    font-weight: 600;
    text-transform: uppercase;
     transition: all 0.3s ease-in-out;
     margin-top: 1rem;

}
.content button:hover{
  background-color: var(--white);
    color: var(--dark);
}



section img{
  max-width: 350px;
  display: none;
  
}
.lottie{
  display: none;
}
@media only screen and (min-width: 768px) {
  section{
position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
   padding: 100px;
   

  


  }

  section .content{
    max-width: 600px;
  }
  section img{
    position: relative;
  }
.lottie{
  display: block;
}
section img{
  display: none;
}
	

}