*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
      transition: all 0.3s ease;
  }
  body{
    height: 100vh;;
    width: 100%;
    display: flex;
    background: #8E0E00;  
    background: -webkit-linear-gradient(to right, #1F1C18, #8E0E00);  
    background: linear-gradient(to right, #1F1C18, #8E0E00); 
    font-family: 'Roboto', sans-serif;

    
  }

  nav{
    /* display: flex;
    flex-direction: column; */
    margin-left: 20px;
    margin-top: 20px;
    display: inline-block;
    
  }

  #logo, i{
    color: yellow;

  }

  #logo{
    text-decoration: none;
  }
  .logo a{
    text-decoration: none;
    font-size: 1.5rem;
  }
  
  


  form { max-width: px; margin:50px auto; }
  
  .feedback-input {
    color:white;
    font-family: Helvetica, Arial, sans-serif;
    font-weight:500;
    font-size: 18px;
    border-radius: 5px;
    line-height: 22px;
    background-color: transparent;
    border:2px solid #CC6666;
    transition: all 0.3s;
    padding: 13px;
    margin-bottom: 15px;
    width:100%;
    box-sizing: border-box;
    outline:0;
    background: rgba(255, 255, 255, 0.055);
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.15);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
  }
  
  /* .summary{
     
  } */

  .article{
      height: 40%;
  }


  .category{
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  #educational{
    color: whitesmoke;
    background-color: #521207;
    text-transform: uppercase;
    background-color: ;
  padding-top: 12px;
  padding-bottom: 12px;
  }
  #checkbox{
    color: rgb(243, 241, 241);
    margin: 15px;
  }

.box select{
    background-color: #521207;
  color: white;
  padding: 12px;
  width: 220px;
  border: none;
  font-size: 20px;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
  -webkit-appearance: button;
  appearance: button;
  outline: none;
  }

  
.box:hover::before {
  color: rgba(255, 255, 255, 0.6);
  background-color: rgba(255, 255, 255, 0.2);
}

.box select option {
  padding: 30px;
}


  .feedback-input:focus { border:2px solid #CC4949; }
  
  textarea {
    height: 150px;
    line-height: 150%;
    resize:vertical;
  }
  
  [type="submit"] {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    width: 100%;
    background-color: #521207;
    border-radius:5px;
    border:0;
    cursor:pointer;
    color:white;
    font-size:24px;
    padding-top:10px;
    padding-bottom:10px;
    transition: all 0.3s;
    margin-top: 10px;
    font-weight:700;
    
  }
  [type="submit"]:hover { background:#CC4949; }