* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;

    
}

html{
    font-size: 10px;
}

nav{
    /* display: flex;
    flex-direction: column; */
    margin-left: 20px;
    margin-top: 20px;
    display: inline-block;
    font-size: 2rem;
    
  }

  #logo, i{
    color: yellow;

  }

  #logo{
    text-decoration: none;
  }
  .logo a{
    text-decoration: none;
    font-size: 2rem;
  }

body{
    /* background-image: url("/images/background.jpg"); */
    background-color: rgb(56, 9, 9);
    
    background-position: 0 1000px;
    font-family: 'Roboto', sans-serif;
        background-size: cover;
    background-attachment: fixed;

    
    /* background: #8E0E00;  
background: -webkit-linear-gradient(to right, #1F1C18, #8E0E00);  
background: linear-gradient(to right, #1F1C18, #8E0E00);  */

}



.container{
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 3rem;
    margin-top: 4rem;
    text-align: center;
    
}

.username{
    text-transform: capitalize;
    color: #8E0E00;
}

.profile{
    border-radius: 50%;
    width: 20%;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.15);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
}

h1 {
    color: #398f51;
    font-size: 5rem;
    font-weight: 700;
    letter-spacing: 8px;
    margin-bottom: 2rem;
}

h2{
    color: #777;
    font-size: 4rem;
    font-weight: 400;
}

.image{
    margin-top: 10rem;
    margin-bottom: 5rem;

}

p{
    font-size: 2rem;
    color: #fff;
    line-height: 5rem;
    margin-bottom: 5rem;


}

.btn{
    display: inline-block;
    padding: 2.7rem 7.5rem;
    background: #f6f6f6;
    font-size: 2rem;
    text-decoration: none;
    color: #398f51;
    border-radius: 10px;
}

.button{
    display: inline-block;
    font-size: 1.8rem;
    background: #f6f6f6;
    
    text-decoration: none;
    color: #398f51;
    border-radius: 8px;
}

.button:hover{
    background-color: rgb(75, 6, 6);
    color: white;
}

.brandbutton{
    text-decoration: none;
    font-size: 1.5rem;
    color: white;
    margin-top: 30px;
   
}

.brandbutton:hover{
    text-transform: scale(2);
    transition: all .5s ease-in-out;
    color: rgb(230, 228, 150);
    transform: scale(1.2);
    box-shadow: 0 3px 15px -2px;
    border-radius: 10px;
}
.skills{
    display: flex;
    margin-top: 20px;
    margin-left: 60px;
    
}

.skills h2{
    color: white;
    font-weight: bold;
    text-transform: uppercase;
}

.addskill{
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    justify-content: center;
    align-items: center;
}
ul{
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.15);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
   width: 25%;
   margin-left: 20px;
}

li{
    color: whitesmoke;
    font-size: 3rem;
    text-transform: uppercase;
    list-style: none;
    letter-spacing: 2.5px;
    
}

li:not(:last-child){
    margin-bottom: 15px;
}

li:before{
    content: "\272F";
    color: yellow;
    margin-right: 60px;
}

#delete{
    background-color: rgba(230, 228, 150, 0);
    width: 5px;
    border: none;
    margin-bottom: 10px;
}

#name{
    text-transform: capitalize;
}

/* BRAND STATEMENT */

.brandstatement{
    justify-content: center;
    align-items: center;
}

 .brandstatement a{
    text-decoration: none;
    color: white;
    cursor: pointer;
    

  }

  .brandstatement a:hover{
      background: rgb(65, 10, 10);
      transform: scale(1.2);
  }
 

 .brandstatement{
     margin-top: 100px;
     justify-content: center;
     align-items: center;
 }
  
  .brandstatement h1{
    background-color: tomato;
    color: white;
    text-align: center;
    padding:6px;
    background: #8E0E00;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #1F1C18, #8E0E00);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #1F1C18, #8E0E00); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  }
  .brandstatement .column{
    width:50%;
    float:left;
    padding:2%;
    
  }
  .brandstatement .column{
    padding:3%;
  }
  /*clear-fix the parent of column because it collapsed!  */
  .brandstatement form:after{
    content:'';
    display:block;
    clear:both;
  }

  .brandstatement #brandstatement{
      color: rgb(230, 224, 224);
      line-height: 1.6rem;
  }
  
  /* FORM STUFF BEGINS HERE */
  .brandstatement form{
    font-size:110%
  }
  .brandstatement label{
    display:block;
    color:rgb(221, 199, 184);
    margin:16px 0 3px;
    font-size: 1.6rem;
  }

  #formcolumn{
      padding-top: 22px;
      padding-bottom: 10px;
  }

  ::placeholder{
      opacity: 0.6;
  }
  
  .brandstatement input[type=text],
  .brandstatement input[type=job],
  .brandstatement input[type=tel],
  .brandstatement textarea,
  .brandstatement select{
    width:100%;
    padding:5px;
    box-sizing:border-box;
    background-color:cornsilk;
    border: solid 1px tan;
    font-family:'Lucida Console', monospace;
    font-size: 2rem;
  }
  .brandstatement textarea{
    resize: vertical;
    min-height: 280px;
  }

  hr{
      
      background-color: white;
      border-top: 15px double #8c8b8b;
      
  }

  h4{
      color: rgb(139, 92, 92);
      text-align: center;
  }
  #questions{
      margin-bottom: 10px;
  }
  .brandstatement h2{
     color: wheat;
      text-align: center;
  }
 
  .brandstatement h3{
     color: white;
     margin-bottom: 10px;
     justify-content: center;
     text-align: center;
  }

  .brandstatement h3::before{
      content: "\270D";
     
  }


  .brandstatement .button{
    display: inline-block;
    font-size: 2rem;
    background: #4d0f0f;
    text-decoration: none;
    color: #d2e4d7;
    border-radius: 3px;
    justify-content: center;
    display: flex;
    text-align: center;
    margin-left: 43%;
    margin-bottom: 20px;
    padding: 0 50px;
}

.brandstatement .button:hover{
    background-color: rgb(75, 6, 6);
    color: white;
    transform: scale(1.3);
}


















