<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section>
        <h1>Edit this Tip!</h1>
        <form action="/tips/<%= tip._id %>?_method=PUT" method="POST">
          <label>
            Category:
            <input 
              type="text"
              name="category"
              value="<%= tip.category %>" 
              autocomplete="off"
            >
          </label>
          <text>
            Details:
            <input 
              type="text"
              name="detail"
              value="<%= tip.detail %>" 
              autocomplete="off"
            >
          </label>
          <label>
            Helpful?
            <input type="checkbox" name="helpful" <%= tip.helpful ? "checked" : "" %>>
          </label>
          <button type="submit">Edit this Tip</button>
        </form>
      </section> 
      
</body>
</html>