<div>
    <h1>Tips</h1>
    <form action="/tips" method="POST">
    <label>
        Category:
        <input type="text" name="category" autocomplete="off" required>
    </label>
    <label>
        Detail:
        <input type="text" name="detail" autocomplete="off" required>
    </label>
    <label>
        Helpful?
        <input type="checkbox" name="helpful">
    </label>
    <button type="submit">Add Tip</button>
</form>
    </div>