<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <% if (isSelf)  {%> 
        <h2>Add a brand statement!</h2>
        <form action="/profiles/<%= profile._id %>/portfolio" method="POST">
          <label>
            Name: 
            <input type="text" name="name" autocomplete="off">
          </label>

          <label>
            Brand Statement: 
            <input type="text" name="name" autocomplete="off">
          </label>
          
</body>
</html>