<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    "Hello there, my name is brands"
    <h2>Add a brand statement!</h2>
        <form action="`/profiles/${req.user.profile._id}`" method="POST">
            <label>
                Name:
                <input type="text" name="name">
            </label>

            <label>
                Brand Statement:
                <input type="text" name="brand">
            </label>

            <label>
                Job:
                <input type="text" name="job">
            </label>

            <label>
                Skills:
                <input type="text" name="skills">
            </label>
            <button type = "submit">Add my brand!</button>
        </form>

</body>
</html>